html,
body {
    min-height: 100%;
}

#blazor-error-ui {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 12px 20px;
    background: #fff4ce;
    color: #3b2e00;
}
